body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  /* background-color: #282c34; */
  background-color: #fff;
  min-height: 100vh;
}

.block {
  /* background-color: #f8f8f8; */
  padding: 25px;
}

.sidebar-left {
  position: fixed;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 40px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
  padding-top: 40px;
}

.main {
  padding-top: 40px;
  padding-bottom: 100px;
}

hr.uk-divider {
  border-top: 1px solid #e5e5e5;
}

h2.uk-h3 {
  font-weight: 300;
}

h1.uk-heading-divider {
  font-weight: 600;
}


.uk-nav .uk-nav-header {
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;
}

.messenger_chat {
  height: 400px;
  overflow: hidden;
}

.messenger_chat-list,
.messenger_chat-view {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.messenger_chat-list {
  border: 1px solid #e0e0e0;
  border-right: 0;
}

.messenger_chat-list-item {
  padding: 5px 2px;
  border-bottom: 1px solid #e8e8e8;
}
.messenger_chat-list-item.active {
  background: #e8e8e8;
}
.messenger_chat-list-item:hover {
  background: #e8e8e8;
  cursor: pointer;
}

.messenger_chat-view-message-list {
  padding: 10px;
}
.messenger_chat-view-message-list-item.own {
  text-align: right;
}
.messenger_chat-view-message-list-item .body {
  display: inline-block;
  max-width: 50%;
  background-color: #424242;
  padding: 5px 10px;
  border-radius: 3px;
  color: #ccc;
  font-size: 0.9em;
}
.messenger_chat-view-message-list-item.own .body {
  background-color: #666;
}
.messenger_chat-view-message-list-item .date {
  font-size: 0.7em;
  margin-top: 2px;
}

@media (min-width: 1200px) {
  .sidebar-left+.main {
    padding-left: 40px;
  }
}

@media (min-width: 960px) {
  .sidebar-left+.main {
    padding-left: 240px;
  }
}

@media (min-width: 640px) {
  h2.uk-h3:before {
    content: "#";
    position: absolute;
    width: 25px;
    margin-left: -25px;
    color: #999;
  }
}
